.Comment{
      border: 25px solid lightblue;
        padding: 25px;
    }
h1{
    text-align: center;
}
.arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid darkblue;

    }
.arrow-left {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid white;
        background-color: darkblue
    }
.Header{
    text-align: right;
    height:40px;
    display: flex;
}
#one{
    background-color: darkblue;
    width:50px
}
#two{
    width: 200px;
    background-color: white;
    margin-right: 30px
}
#h4learn{
    text-shadow: 1px 1px 2px darkblue, 0 0 25px darkblue, 0 0 5px darkblue;
    color:darkblue;
    text-align: center;
    margin-bottom: 10px
}
#three{
    background-color: darkblue;
    width:100%
}
.footer{
    text-align: right;
    background-color: lightblue;
    height:40px;
}
#para{
    color:darkblue;
    margin-right: 25px
}
#prev{
    float: left;
    display: none
}
#next{
    float: right
}